<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <% for( let i=1 ; i <=lastPage ; i ++ ) {%>
            <li class="page-item"> <a class="page-link   <%= currentPage === i ? 'active' :'' %>   "
                    href="?page=<%=i%>">
                    <%= i %>
                </a></li>
            <% } %>
    </ul>
</nav>