<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <section class="filterPage">

            <div class="container">
                <%- include('../includes/fillter.ejs') %>






            </div>
        </section>



        <%- include('../includes/end.ejs') %>